@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 195 40% 92%;
    --foreground: 207 100% 14%;
    --primary: 196 58% 52%;
    --primary-foreground: 0 0% 100%;
    --secondary: 44 100% 50%;
    --secondary-foreground: 0 0% 100%;
    --accent: 24 100% 49%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --muted: 195 40% 82%;
    --muted-foreground: 207 100% 24%;
    --card: 195 40% 92%;
    --card-foreground: 207 100% 14%;
    --popover: 195 40% 92%;
    --popover-foreground: 207 100% 14%;
    --border: 196 58% 52%;
    --input: 196 58% 52%;
    --ring: 44 100% 50%;
    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}